
@{
    ViewBag.Title = "AddIncome";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}

<div>
    <h3>Форма добавления источника доходов</h3>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Введите название дохода</p></td>
                <td><input type="text" name="Name" /> </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Добавить" />
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>

