
@{
    ViewBag.Title = "Login";
}
<div>
    <h3>Форма авторизации</h3>
    <form method="post" action="">
        <table>
            <tr>
                <td><p>Введите свой логин </p></td>
                <td><input type="text" name="Login" /> </td>
            </tr>
            <tr>
                <td><p>Введите пароль</p></td>
                <td>
                    <input type="text" name="Password" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Отправить" />
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>